.icomoon-1{font-family: 'icomoon-1';font-style: normal;position: relative;top: 4px;}
.icomoon-1:before{content:"\e900";font-size: 22px;}
.icomoon-2{font-family: 'icomoon-2';font-style: normal;position: relative;top: 4px;}
.icomoon-2:before{content:"\e900";font-size: 22px;}
.icomoon-3{font-family: 'icomoon-3';font-style: normal;position: relative;top: 4px;}
.icomoon-3:before{content:"\e901";font-size: 22px;}
.icomoon-4{font-family: 'icomoon-4';font-style: normal;position: relative;top: 4px;}
.icomoon-4:before{content:"\e901";font-size: 22px;}
.icomoon-5{font-family: 'icomoon-5';font-style: normal;position: relative;top: 4px;}
.icomoon-5:before{content:"\e900";font-size: 22px;}
.icomoon-6{font-family: 'icomoon-6';font-style: normal;position: relative;top: 4px;}
.icomoon-6:before{content:"\e901";font-size: 22px;}
.icomoon-7{font-family: 'icomoon-7';font-style: normal;position: relative;top: 4px;}
.icomoon-7:before{content:"\e900";font-size: 22px;}
.icomoon-8{font-family: 'icomoon-8';font-style: normal;position: relative;top: 4px;}
.icomoon-8:before{content:"\e901";font-size: 22px;}
.icomoon-9{font-family: 'icomoon-9';font-style: normal;position: relative;top: 4px;}
.icomoon-9:before{content:"\e900";font-size: 22px;}
.icomoon-10{font-family: 'icomoon-10';font-style: normal;position: relative;top: 4px;}
.icomoon-10:before{content:"\e900";font-size: 22px;}
.icomoon-11{font-family: 'icomoon-11';font-style: normal;position: relative;top: 4px;}
.icomoon-11:before{content:"\e901";font-size: 22px;}
.icomoon{font-style: normal;position: relative;top: -5px;}
.icomoon:before{font-size: 18px;}