.setImg img {
  width: 100%;
  height: auto;
}
.setPTB {
  padding-top: 0.27rem;
  padding-bottom: 0.27rem;
}
.setPLR {
  padding-left: 0.32rem;
  padding-right: 0.32rem;
}
.setMaxW {
  max-width: 100%;
}
.cleanDefStyle {
  margin: 0;
  padding: 0;
  border: 1px solid rgba(255, 255, 255, 0);
  background: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
