/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.setImg img {
  width: 100%;
  height: auto;
}
.setPTB {
  padding-top: 0.27rem;
  padding-bottom: 0.27rem;
}
.setPLR {
  padding-left: 0.32rem;
  padding-right: 0.32rem;
}
.setMaxW {
  max-width: 100%;
}
.cleanDefStyle {
  margin: 0;
  padding: 0;
  border: 1px solid rgba(255, 255, 255, 0);
  background: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
html,
body {
  height: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  font-size: 50px;
}
body {
  font-size: 0.32rem;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: #333;
  background: #fff;
  opacity: 0;
}
body > * {
  background: #fff;
}
@media screen and (min-width: 100%) {
  body {
    margin: 0 auto;
    max-width: 100%;
  }
}
input,
textarea,
select,
a,
input:focus,
textarea:focus,
select:focus,
a:focus {
  outline: none;
  -webkit-appearance: none;
}
select {
  background: #fff;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.cleanfix::after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.valign-center:before {
  content: ".";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  overflow: hidden;
}
.valign-center > * {
  display: inline-block;
  vertical-align: middle;
}
.box-center {
  position: relative;
}
.box-center > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-auto {
  width: 100%;
  height: auto;
}
.hr {
  display: block;
  height: 0.2rem;
  background: #f2f2f2;
}
.containerView {
  overflow: hidden;
}
.containerView .containerView-main {
  position: relative;
  height: 100%;
  padding-top: 0.88rem;
  padding-bottom: 1.3rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.mask {
  position: fixed;
  max-width: 100%;
  z-index: 200;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.72);
  width: 100%;
  height: 100%;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.select-hook {
  margin: 0;
  padding: 0;
  border: 1px solid rgba(255, 255, 255, 0);
  background: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
  top: -3rem;
  right: 0;
  width: 0.001rem;
  height: 0.001rem;
  float: right;
  opacity: 0;
}
.select-hook.ispc {
  position: static;
  width: auto;
  height: auto;
  float: none;
  opacity: 1;
}
.checkbox-hook {
  position: relative;
  display: inline-block;
  width: 0.32rem;
  height: 0.32rem;
  font-size: 0;
  background: center center no-repeat;
  background-image: url("/images/check_def.png");
  background-size: contain;
}
.checkbox-hook.active {
  background-image: url("/images/check_fill.png");
}
.checkbox-hook input {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  opacity: 0;
}
.listTextG {
  padding-top: 0.27rem;
  padding-bottom: 0.27rem;
  padding-left: 0.32rem;
  padding-right: 0.32rem;
}
.listTextG .listTextG-title {
  font-size: 0.3rem;
  line-height: 1.3;
  margin-bottom: 0.1rem;
}
.listTextG .listTextG-title:last-child {
  margin-bottom: 0;
}
.listTextG .listTextG-text {
  font-size: 0.3rem;
  line-height: 1.3;
  color: #666;
  margin-bottom: 0.3rem;
}
.listTextG .listTextG-text:last-child {
  margin-bottom: 0;
}
.listG {
  padding-top: 0.27rem;
  padding-bottom: 0.27rem;
  padding-left: 0.32rem;
  padding-right: 0.32rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}
.listG.hasGo {
  background: url('/images/icon_go.png') right center no-repeat;
  background-size: 0.13rem;
  background-origin: content-box;
}
.listG .listG-left {
  flex: none;
  width: 0.8rem;
  margin-right: 0.3rem;
  font-size: 0;
}
.listG .listG-left img {
  width: 100%;
  height: auto;
}
.listG .listG-right {
  flex: auto;
}
.listG .listG-right .right-title {
  font-size: 0.3rem;
  margin-bottom: 0.1rem;
}
.listG .listG-right .right-text {
  font-size: 0.26rem;
  color: #999;
}
.titleG {
  display: flex;
  align-items: center;
  width: 100%;
  height: 0.89rem;
  padding: 0 0.32rem;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  background: #ffffff url('/images/icon_go.png') right center no-repeat;
  background-size: 0.13rem;
  background-origin: content-box;
}
.titleG.notGo {
  background: #fff;
}
.titleG.notGo .titleG-right {
  padding-right: 0;
}
.titleG.typeFile .titleG-left {
  flex: none;
}
.titleG.typeFile .typeFile-imgView {
  flex: none;
  width: 0.82rem;
  height: 0.82rem;
  background: center center no-repeat;
  background-size: contain;
}
.titleG.typeFile .titleG-right {
  flex: auto;
  overflow: visible;
}
.titleG.typeFile .titleG-right .right-btn {
  display: inline-block;
  padding: 0.09rem 0.42rem;
  font-size: 0.3rem;
  color: #bc0000;
  background: none;
  border: 1px solid #bc0000;
  border-radius: 0.1rem;
}
.titleG.typeFile .titleG-right input[type=file] {
  display: none;
}
.titleG .titleG-left {
  flex: none;
  display: inline-block;
  margin-right: 0.3em;
  font-size: 0.32rem;
  font-weight: bold;
}
.titleG .titleG-right {
  position: relative;
  flex: auto;
  justify-content: flex-end;
  padding-right: 0.30rem;
  font-size: 0.30rem;
  color: #999;
  text-align: right;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}
.titleG.input {
  background: #fff;
}
.titleG.input .titleG-left {
  font-size: 0.3rem;
  font-weight: normal;
  color: #666;
}
.titleG.input .titleG-right {
  padding-right: 0;
  color: #333;
}
.titleG.input .titleG-right input {
  padding: 0;
  font-size: 0.3rem;
  border: none;
  background-color: transparent;
}
.col-4 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 0.3rem;
  background: #fff;
}
.col-4 .col-4-item {
  display: inline-block;
  width: 25%;
  margin-bottom: 0.35rem;
  text-align: center;
}
.col-4 .col-4-item .item-img {
  display: inline-block;
  width: 0.78rem;
  margin-bottom: 0.2rem;
  font-size: 0;
}
.col-4 .col-4-item .item-img img {
  width: 100%;
  height: auto;
}
.col-4 .col-4-item .item-text {
  display: block;
  font-size: 0.26rem;
}
.col-3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 0.3rem;
  background: #fff;
}
.col-3 .col-3-item {
  display: inline-block;
  width: 33.3%;
  margin-bottom: 0.35rem;
  text-align: center;
}
.col-3 .col-3-item .item-img {
  display: inline-block;
  width: 0.78rem;
  margin-bottom: 0.2rem;
  font-size: 0;
}
.col-3 .col-3-item .item-img img {
  width: 100%;
  height: auto;
}
.col-3 .col-3-item .item-text {
  display: block;
  font-size: 0.26rem;
}
.hide {
  display: none;
}
.navber {
  position: fixed;
  max-width: 100%;
  z-index: 150;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 0.88rem;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}
.navber .navber-left {
  padding-left: 0.32rem;
  padding-right: 0.32rem;
  display: flex;
  align-items: center;
  box-sizing: content-box;
  width: 0.44rem;
  height: 100%;
  line-height: 1;
}
.navber .navber-left img {
  width: 0.15rem;
}
.navber .navber-center {
  font-size: 0.33rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}
.navber .navber-right {
  padding-left: 0.32rem;
  padding-right: 0.32rem;
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: content-box;
  width: 0.44rem;
  height: 100%;
  line-height: 1;
  text-align: right;
  justify-content: flex-end;
}
.navber .navber-right.isText {
  width: auto;
  white-space: nowrap;
  font-size: 0.3rem;
  color: #999;
}
.navber .navber-right > img {
  width: 0.36rem;
}
.searchHead {
  display: none;
  position: fixed;
  max-width: 100%;
  z-index: 150;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.88rem;
  padding: 0.04rem 0.18rem 0.18rem;
  background: #f9f9f9;
}
.searchHead .head-main {
  position: relative;
  width: 100%;
  height: 100%;
}
.searchHead .head-main .main-content {
  width: 100%;
  height: 100%;
  text-align: center;
  background: #e8e8e9;
  border-radius: 0.14rem;
}
.searchHead .head-main .searchText {
  width: 3.2rem;
  height: 100%;
  font-size: 0.29rem;
  background: transparent;
  border: none;
}
.searchHead .head-main .webIcon-search,
.searchHead .head-main .webIcon-refresh {
  position: absolute;
  top: 50%;
  display: inline-block;
  transform: translateY(-50%);
  font-size: 0;
}
.searchHead .head-main .webIcon-search.webIcon-search,
.searchHead .head-main .webIcon-refresh.webIcon-search {
  width: 0.28rem;
  left: 20%;
}
.searchHead .head-main .webIcon-search.webIcon-refresh,
.searchHead .head-main .webIcon-refresh.webIcon-refresh {
  width: 0.31rem;
  right: 0.33rem;
}
.searchHead .head-main .webIcon-search img,
.searchHead .head-main .webIcon-refresh img {
  width: 100%;
  height: auto;
}
.menu {
  position: fixed;
  max-width: 100%;
  z-index: 100;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 1rem;
  font-size: 0;
  background: #fff;
  border-top: 1px solid #e5e5e5;
}
.menu .menu-item {
  flex: 1;
  height: 100%;
  text-align: center;
}
.menu .menu-item.menu-home .item-icon {
  background-image: url('/images/icon_home.png');
}
.menu .menu-item.menu-service .item-icon {
  background-image: url('/images/icon_service.png');
}
.menu .menu-item.menu-shop .item-icon {
  background-image: url('/images/icon_shop.png');
}
.menu .menu-item.menu-user .item-icon {
  background-image: url('/images/icon_user.png');
}
.menu .menu-item.active.menu-home .item-icon {
  background-image: url('/images/icon_home_active.png');
}
.menu .menu-item.active.menu-service .item-icon {
  background-image: url('/images/icon_service_active.png');
}
.menu .menu-item.active.menu-shop .item-icon {
  background-image: url('/images/icon_shop_active.png');
}
.menu .menu-item.active.menu-user .item-icon {
  background-image: url('/images/icon_user_active.png');
}
.menu .menu-item.active .item-text {
  color: #cc1625;
}
.menu .menu-item .item-icon {
  display: inline-block;
  width: 0.45rem;
  height: 0.68rem;
  background-size: 100%;
  background-position: 0 center;
  background-repeat: no-repeat;
}
.menu .menu-item .numb,
.menu .menu-item .numb_my,
.menu .menu-item .numb_service {
  min-width: 0.3rem;
  background: #ac0e12;
  border-radius: 0.7rem;
  display: inline-block;
  position: absolute;
  top: 0.1rem;
  right: 2.4rem;
  color: #fff;
  font-size: 0.23rem;
  text-align: center;
  line-height: 0.3rem;
  padding: 0;
  /*display: none;*/
}
.menu .menu-item .numb_my {
  right: 0.64rem;
  width: 0.26rem;
  height: 0.26rem;
  top: 0.1rem;
  min-width: 0;
}
.menu .menu-item .numb_service {
  right: 4.35rem;
  top: 0.1rem;
}
.menu .menu-item .item-text {
  display: block;
  font-size: 0.22rem;
  line-height: 1;
  color: #7f7f7f;
}
iframe[id^="head__"] {
  display: none !important;
}
iframe[id^="utp__"] {
  display: none !important;
}
iframe[src*="ucweb.com"] {
  display: none !important;
}
