.setImg img {
  width: 100%;
  height: auto;
}
.setPTB {
  padding-top: 0.27rem;
  padding-bottom: 0.27rem;
}
.setPLR {
  padding-left: 0.32rem;
  padding-right: 0.32rem;
}
.setMaxW {
  max-width: 100%;
}
.cleanDefStyle {
  margin: 0;
  padding: 0;
  border: 1px solid rgba(255, 255, 255, 0);
  background: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
body {
  background: #eee;
}
#contract-dsb {
  background: #eee;
}
#contract-dsb .navberNB {
  border-bottom: none;
  height: 1.2rem;
}
#contract-dsb .navberNB .navber-left {
  padding-left: 0.38rem;
  padding-right: 0.38rem;
}
#contract-dsb .main_navber {
  background: #eee;
  padding-bottom: 0rem;
  padding-top: 1.2rem;
}
#contract-dsb .contract-dsb-main {
  background: #fff;
}
#contract-dsb .contract-dsb-main .contract-dsb-table {
  padding-left: 0.38rem;
}
#contract-dsb .contract-dsb-main .contract-dsb-table .titleG {
  padding-left: 0;
  align-items: normal;
  height: 0%;
  padding: 0.26rem 0.38rem 0.26rem 0;
}
#contract-dsb .contract-dsb-main .contract-dsb-table .titleG .cont-time {
  margin-right: 0.4rem;
  color: #6292f3;
  font-size: 0.3rem;
  position: relative;
  z-index: 2;
}
#contract-dsb .contract-dsb-main .contract-dsb-table .titleG .cont-time .times:after {
  content: " ";
  width: 0.65rem;
  height: 0.09rem;
  background: #f3f7ff;
  display: inline-block;
  position: absolute;
  top: 0;
  right: -16%;
  z-index: -1;
}
#contract-dsb .contract-dsb-main .contract-dsb-table .titleG .contract-company .main-title {
  padding-left: 0.24rem;
  border-left: 0.1px solid #e8e8e8;
  color: #333;
  font-size: 0.3rem;
}
#contract-dsb .contract-dsb-main .contract-dsb-table .titleG .contract-company .company-name {
  padding: 0.12rem 0 0 0.24rem;
  color: #999;
  font-size: 0.24rem;
}
#contract-dsb .contract-dsb-main .contract-dsb-table .titleG:last-child {
  border: none;
}
#contract-dsb .contract-dsb-main .contract-dsb-table .contract-dsb-list {
  display: flex;
  justify-content: space-between;
  padding: 0.32rem;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}
#contract-dsb .contract-dsb-main .contract-dsb-table .contract-dsb-list .contract-btn {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  left: 0;
  top: 0;
  outline: none;
  -webkit-appearance: none;
}
#contract-dsb .contract-dsb-main .contract-dsb-table .contract-dsb-list .checkbox-hook {
  border-radius: 50%;
  width: 0.4rem;
  height: 0.4rem;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
#contract-dsb .contract-dsb-main .contract-dsb-table .contract-dsb-list .checkbox-hook input {
  opacity: 0;
}
#contract-dsb .contract-dsb-main .contract-dsb-table .contract-dsb-list .checkbox-hook.active {
  background: url('/img/wap/check_fill.png') no-repeat top left;
  width: 0.4rem;
  height: 0.4rem;
  font-size: 0;
  background-size: contain;
  display: inline-block;
}
#contract-dsb .contract-dsb-main .contract-dsb-table .contract-dsb-list .con_comRight {
  margin-left: 0.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contract-dsb .contract-dsb-main .contract-dsb-table .contract-dsb-list .con_comRight .contract-company {
  font-size: 0.3rem;
  display: inline-block;
  vertical-align: middle;
}
#contract-dsb .contract-dsb-main .contract-dsb-table .contract-dsb-list .con_comRight .contract-company .company-name {
  color: #666;
  margin-bottom: 3%;
}
#contract-dsb .contract-dsb-main .contract-dsb-table .contract-dsb-list .con_comRight .contract-company .company-name.main-title {
  width: 4rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0.03rem 0;
}
#contract-dsb .contract-dsb-main .contract-dsb-table .contract-dsb-list .con_comRight .contract-company .company-name2 {
  color: #000;
  font-weight: bold;
}
#contract-dsb .contract-dsb-main .contract-dsb-table .contract-dsb-list .con_comRight .contract-company .company-name2.main-title {
  width: 4rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0.03rem 0;
}
#contract-dsb .contract-dsb-main .contract-dsb-table .contract-dsb-list .con_comRight .contract-info {
  text-align: right;
  font-size: 0.3rem;
  display: inline-block;
  vertical-align: middle;
}
#contract-dsb .contract-dsb-main .contract-dsb-table .contract-dsb-list .con_comRight .contract-info .info-time {
  color: #666;
  margin-bottom: 4%;
}
#contract-dsb .contract-dsb-main .contract-dsb-table .contract-dsb-list .con_comRight .contract-info .info-price {
  color: #b70000;
  font-weight: bold;
}
#contract-dsb .order-nothing {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.3rem;
  color: #999;
  background: #eee;
  transform: translate(0, 50%);
  margin-top: 50%;
}
#contract-dsb .next-btn {
  position: fixed;
  bottom: 0;
  width: 100%;
}
#contract-dsb .next-btn p {
  background-color: #b70000;
  font-size: 0.32rem;
  border: none;
  color: #fff;
  width: 100%;
  line-height: 1rem;
  outline: none;
  text-align: center;
}
