.uneditable-input{
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    box-shadow: none;
    color: #333333;
    font-size: 14px;
    font-weight: normal;
    height: 34px;
    min-width: 206px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.btn.default {
    background-color: #e5e5e5;
    color: #333333;
    text-shadow: none;
    font-size: 14px;
}
.fileupload-exists .fileupload-new, .fileupload-new .fileupload-exists {
    display: none;
    font-size: 14px;
}

.fileupload .uneditable-input {
    cursor: text;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    /*width:240px;*/
}
.fileupload .fileupload-preview{
    width:240px;
}
.fileupload .btn {
    vertical-align: middle;
}
.fileupload .btn {
    padding: 7px 14px;
}
.btn.red {
    background-color: #d84a38;
    color: white;
    text-shadow: none;
}
